body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    justify-content: space-between;
    margin: 0;
}


.hero,
footer{
    background-color: #1f2937;
}

.hero,
footer,
.quote{
    display: flex;
    width: 100%;
    justify-content: center;
}

.hero > div{
    display: flex;
    flex-direction: column;
}

.heroContainer{
    padding: 70px 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 24px;
}

ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 10px;
}

h1,
.awesome{
    color: #F9faf8;
}

.heroContainer{
    display: flex;
    gap: 40px;
}

.subtext,
footer,
ul{
    color: #e5e7eb;
}

.heroImg,
.awesome{
    flex: 1;
}

.awesome > h2{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.subtext{
    font-size: 18px;
}

.signup,
.call{
    background-color: #3882f6;
}

.signup{
    padding: 5px 20px;
    border-radius: 8px;
    border: none
}

.heroImg{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information > h3{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.infoImg{
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
}

.infoImg > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.image{
    border: 5px #3882f6 solid;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.information .subtext{
    color: #1f2937;
}